.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 600;
  text-transform: none;
}

.reveal h1 {
  font-size: 2.5em;
}

.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1.3em;
}

.reveal h4 {
  font-size: 1em;
}

.reveal h1 {
  text-shadow: none;
}

.image-small {
  width: 3em;
  height: 3em;
  margin: 1em !important;
  border: 0 !important;
  background: rgb(54, 54, 54) !important;
  box-shadow: none !important;
  padding: 0.4em !important;
}

.image-large {
  width: 12em;
  height: 12em;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.image-medium {
  height: 5em;
  margin: 1em !important;
  border: 0 !important;
  background: rgb(54, 54, 54) !important;
  box-shadow: none !important;
  padding: 0.4em !important;
}

.image-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  background: #3f51b5;
  border: none;
  padding: 0 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.command-button {
  padding: 5px;
  background: #2d503d;
  text-transform: none;
}

.restart-button{
  padding: 5px;
  background: #585858;
}

.input {
  border: none;
  resize: none;
  border-radius: 4px;
  height: 1em;
  padding: 0.8em;
  font-size: 1.4rem;
  outline: none;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  font-size: 0.3em !important;
  width: auto !important;
}

::selection{
  color: black !important;
  background: white !important;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ssh-box {
  margin-left: 4em !important;
  margin-right: 4em !important;
  background: darkgray;
  border: 1px solid rgb(49, 49, 49) !important;
  border-radius: 5px;
  padding: 1em !important;
  text-align: left;
  font-size: 0.3em !important;
  color: black;
  font-weight: 700 !important;
  font-family: monospace !important;
  overflow: scroll !important;
}

.ssh-box-small {
  height: 25em;
}

.ssh-box-medium {
  height: 37em;
}

.ssh-box-smaller {
  height: 17em;
}

.side-code-box{
  width: 17em !important;
}

::-webkit-scrollbar {
  display: none;
}

.started-command {
  color: blue;
}

.ssh-line {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.descriptive-text {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  font-size: 0.4em !important;
}

.vertical-spacer {
  height: 0.4em !important;
}

.webview-content {
  width: 90%;
  height: 13em;
}

.webview {
  display: flex;
  flex-direction: row;
  margin-left: 4em !important;
  margin-right: 4em !important;
  margin-top: 10px !important;
  height: 13em !important;
  border: 1px solid rgb(49, 49, 49) !important;
  border-radius: 5px;
  text-align: left;
  font-size: 0.3em !important;
  color: black;
  font-weight: 700 !important;
  font-family: monospace !important;
  overflow: auto;
  overflow-y: hidden !important;
  align-items: stretch;
}

.code-to-side {
  display: flex;
  flex-direction: row;
}

.side-ssh {
  width: 42em !important;
  height: 50em !important;
}

.webview-side{
  display: flex;
  flex-direction: row;
  width: 33em !important;
}

.webview-scaling-box{
  width: 60em !important;
}

.webview-scaling {
  height: 46em !important;
  width: 100% !important;
  margin-left: 10px;
  border: 1px solid rgb(49, 49, 49) !important;
  border-radius: 5px;
  text-align: left;
  font-size: 0.3em !important;
  color: black;
  font-weight: 700 !important;
  font-family: monospace !important;
  overflow: auto;
  overflow-y: hidden !important;
  align-items: stretch;
}