.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 600;
  text-transform: none;
}

.reveal h1 {
  font-size: 2.5em;
}

.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1.3em;
}

.reveal h4 {
  font-size: 1em;
}

.reveal h1 {
  text-shadow: none;
}

.image-small {
  width: 3em;
  height: 3em;
  margin: 1em !important;
  border: 0 !important;
  background: rgb(54, 54, 54) !important;
  box-shadow: none !important;
  padding: 0.4em !important;
}

.image-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  background: #3f51b5;
  border: none;
  padding: 0 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.input{
  border: none;
  resize: none;
  border-radius: 4px;
  height: 1em;
  padding: 0.8em;
  font-size: 1.4rem;
  outline: none;
}